:root {
    color-scheme: dark;
    --border-color: #ccc;
    --active-color: green;
    --unread-color: orange;
    --modal-backgound: rgba(26, 26, 26, 0.664);
    --button-background: #555657;
    --input-background: #242424;
    --font-familiy: monospace, monospace
}

html,
body {
    height: 100%;
    margin: 0;
    color: var(--border-color);
    font-family: var(--font-familiy);
}

*:focus {
    outline: none;
}

button {
    cursor: pointer;
    background-color: var(--button-background);
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border: none;
    outline: none;
    color: var(--border-color);
    font-family: var(--font-familiy);
}

input,
input[type="text"] {
    color: var(--border-color);
    background-color: var(--input-background);
    outline: none;
    border: 1px solid var(--border-color);
    padding: 2px;
    font-family: var(--font-familiy);
}

::placeholder {
    color: var(--border-color);
}

button:hover {
    opacity: 0.8;
}

.modal_content button {
    border: 1px solid var(--border-color);
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    height: calc(100% - 68px);
    display: grid;
    grid-template-columns: 0.4fr 2.2fr 0.4fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "left center right"
}

@media only screen and (max-width: 1400px) {
    .container {
        grid-template-columns: 0.52fr 1.6fr 0.52fr;
    }
}



@media only screen and (max-width: 950px) {
    .container {
        grid-template-columns: 0.5fr 1.55fr 0.95fr;
    }
}



.top {
    height: 30px;
    border: 1px solid var(--border-color);
}

.left {
    grid-area: left;
    border-left: 1px solid var(--border-color);
    padding: 4px;
    overflow-y: auto;
}

.right {
    grid-area: right;
    border-right: 1px solid var(--border-color);
    padding: 4px;
    overflow-y: auto;
}

.center {
    grid-area: center;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    overflow: hidden;
}

.messages {
    overflow-y: auto;
    height: 99%;
    padding: 4px;
}

.bottom {
    height: 30px;
    overflow: hidden;
    border: 1px solid var(--border-color);
}

.send_area {
    float: left;
    width: calc(100% - 44px);
    height: 30px;
    border: none !important;
    padding: 0px !important;
    padding-left: 4px !important;
    outline: none;
    font-size: 18px;
    /* You can adjust the color and thickness of the outline */
}

.send_button {
    float: left;
    width: 40px;
    height: 30px;
}

.user_item,
.room_item {
    cursor: pointer;
}

.modal_content {
    position: absolute;
    padding: 10px;
    left: 0px;
    z-index: 2;
    border: 1px solid var(--border-color);
    background-color: var(--modal-backgound);
}

.modal {
    display: none;
    margin-top: 10px;
}

.modal_background {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--modal-backgound);
    z-index: 1;
}

.menu_button {
    float: left;
    margin-right: 1px;
}



.room_item {
    overflow: hidden;
    font-size: 20px;
}

.room_item:hover {
    opacity: 0.8;
}